<!--Navigation Bar-->
<nav class="w3-top">
    <div class="site_name w3-wide"><img src="/img/icon.png" alt="Icon"> CollegeChef</div>
    <ul id="navbar" class="w3-navbar w3-black w3-card-4 w3-left-align">
        <li class="w3-opennav"><a class="w3-padding-large" href="javascript: showLinks();"><i class="fa fa-bars"></i></a></li>
        <li class="menu_item_left"><a href="/index.html" class="w3-padding-large" title="Home"><i class="fa fa-home"></i><p class="menu_item_name w3-hide-medium">Home</p></a></li>
        <li class="menu_item_left"><a href="/pages/recipe_browser.html" class="w3-padding-large" title="All Recipes"><i class="fa fa-cutlery"></i><p class="menu_item_name w3-hide-medium">Recipe Browser</p></a></li>
        <li class="menu_item_left"><a href="/pages/user_profile.html" class="w3-padding-large" title="User Profile"><i class="fa fa-user-o"></i><p class="menu_item_name w3-hide-medium">My Profile</p></a></li>
        <li class="menu_item_left"><a href="#" class="w3-padding-large" title="Sign Out"><i class="fa fa-sign-out"></i><p class="menu_item_name w3-hide-medium">Sign Out</p></a></li>
        <li class="menu_item_right w3-right"><a href="javascript: show('login-form');" class="w3-padding-large" title="Login"><p class="menu_item_name">Login</p></a></li>
        <li class="menu_item_right w3-right"><a href="javascript: show('register-form');" class="w3-padding-large" title="Sign Up"><p class="menu_item_name">Sign Up</p></a></li>
    </ul>
</nav>

<!--Login Form-->
<div id="login-form" class="w3-modal">
    <div class="form_dialog w3-modal-content w3-card-8 w3-animate-zoom">

        <span onclick="hide('login-form')" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
        <div class="w3-center w3-padding-32"><img class="logo-img w3-center" src="/img/logo.png"></div>

        <!-- add action, pass records to server  -->
        <form class="w3-container" action="">
            <div class="w3-section">
                <label><b>Username</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
                <label><b>Password</b></label>
                <!-- password pattern can be changed later -->
                <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="hide('login-form')" type="button" class="w3-btn w3-red">Cancel</button>
            <button onclick="login()" type="button" class="w3-btn w3-right w3-green">Login</button>
            <span class="w3-right w3-padding w3-hide-small"><a href="#">Forgot password?</a></span>
        </div>

    </div>
</div>

<!--Sign Up Form-->
<div id="register-form" class="w3-modal">
    <div class="form_dialog w3-modal-content w3-card-8 w3-animate-zoom">

        <span onclick="hide('register-form')" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
        <div class="w3-center w3-padding-32"><img class="logo-img w3-center" src="/img/logo.png"></div>
        
        <!-- add action, pass records to server  -->
        <form class="w3-container" action="">
            <div class="w3-section">
                <label><b>UserName*</b></label>
                <input class="w3-input w3-border" type="text" placeholder="Enter Username" name="usrname" required>
                <p class="w3-text-grey w3-margin-bottom">You will use your username to login.</p>
                <label><b>Email (Optional)</b></label>
                <input class="w3-input w3-border" type="text" placeholder="Enter Email" name="email">
                <p class="w3-text-grey w3-margin-bottom">You will occasionally receive account related emails. We promise not to share your email with anyone.</p>
                <label><b>Password*</b></label>
                <!-- password pattern can be changed later -->
                <input id="pwd" class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <p class="w3-text-grey w3-margin-bottom">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</p>
                <label><b>Repeat Password*</b></label>
                <input id="repeated-pwd" class="w3-input w3-border" type="password" placeholder="Please Repeat Password" name="repeat-pwd" onChange="checkPasswordMatch()" required>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="hide('register-form')" type="button" class="w3-btn w3-red">Cancel</button>
            <button onclick="singUp()" type="button" class="w3-btn w3-right w3-green">Sign Up</button>
        </div>

    </div>
</div>

<link rel="stylesheet" type="text/css" href="/components/navbar.css" media="screen" />
<script src="/components/navbar.js" type="text/javascript"></script>