body {
    padding-top: 60px;
}

.site_name {
    position: fixed;
    color: white;
    margin-left: calc(50% - 75px); /* Avoid overlapping nav buttons when being full width */
    padding-top: 10px;
    font-size: 18px;
}

.site_name img {
    width: 24px;
}

.menu_item_name {
    display: inline;
    padding-left: 5px;
}

@media screen and (max-width: 600px) {
    
    /* override css class w3-navbar on small screen */

    #navbar li {
        float: left !important;
    }
}

/* Login form & Sign up form*/

.logo-img {
    width: 200px;
    height: auto;
}

.form_title {
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: bold;
    margin-bottom: 0;
}

.form_dialog {
    max-width: 450px;
}

@media screen and (max-width: 600px) {

    .form_title {
        font-size: 18px;
        letter-spacing: 3px;
    }

    .form_dialog {
        max-width: 600px;
    }
}
